.cb-simple-events{

  ul{
    padding: 0px;
    li{
      list-style-type: none;
      display: block;
      margin-bottom: 5px;
      padding: 5px;
      border-radius:3px;
      &:last-of-type{
        margin-bottom: 0px;
      }
    }
  }

  &__meta{
    margin-bottom:5px;
  }
  &__date{

  }
  &__time{

  }
  &__desc{

  }
  &__link{

  }

}
