.cb-broadside{
  position:relative;
  width:100%;
  .scroll-left, .scroll-right{
    position:absolute;
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    background:rgba(#fff,0.1);
    padding:10px;
    color:#fff;
    font-size:60px;
    cursor:pointer;
    user-select:none;
    z-index:10;
  }
  .scroll-left{
    left:0;
  }
  .scroll-right{
    right:0;
  }

  ul{
   display:-webkit-box;   display:-webkit-flex;   display:-ms-flexbox;   display:flex;
    list-style-type:none;
    overflow-y:scroll;
    -webkit-box-align:center;    -webkit-align-items:center;    -ms-flex-align:center;    -ms-grid-row-align:center;    align-items:center;
    background:#494949;
    padding:30px 60px;
    -webkit-transition:all 300ms ease;
  transition:all 300ms ease;
    li{
      display:block;
      padding:10px;
      a{
        display:block;
        padding:5px;
        img{
-webkit-transition:all 300ms ease;
transition:all 300ms ease;
          box-shadow:0px 0px 5px rgba(0,0,0,0.5);
        }
        &:hover{
          img{
            box-shadow:0px 0px 25px rgba(0,0,0,0.7);
            opacity:1;
          }
        }
      }
    }
  }
}