
.cb-slice {
  margin-bottom: 90px; 
}

.cb-slice-row-case {
  height: 300px; 
  overflow:hidden;
}
  @media (min-width: 1100px) {
    .cb-slice-row-case {
      margin-bottom: 40px; 
    } 
}


.cb-slice-img-wrapper {
  transition: width 0.5s ease; 
}
  @media (min-width: 1100px) {
    .cb-slice-img-wrapper {
      float: left;
      overflow: hidden; 
    } 
}


.cb-slice-img {
  min-height: 300px;
  height: 300px;
  background: #0079c2;
  float: left; }
  @media (max-width: 400px) {
    .cb-slice-img {
      width: 100%;
      margin-bottom: 70px;
      border-left: 3px solid #fff;
      border-right: 3px solid #fff; 
    } 
}
  @media (min-width: 400px) and (max-width: 1100px) {
    .cb-slice-img {
      width: 50%;
      margin-bottom: 70px;
      border-left: 3px solid #fff;
      border-right: 3px solid #fff; 
    } 
}
  @media (min-width: 1100px) {
    .cb-slice-img {
      width: 600px;
      border-left: 3px solid #fff;
      border-right: none; 
    } 
}


.cb-slice-inner {
  display: block;
  width: 100%;
  height: 100%; 
}


.cb-slice-link {
  display: block;
  width: 100%;
  height: 100%; 
}


.cb-slice-caption {
  height: 50px;
  background: #0079c2;
  text-align: center;
  transition: all 0.5s ease; 
}
  
  .cb-slice-caption h3 {
    padding: 0.5em;
    color: #fff; 
}
