.cb-poise-container{
  img.cb-poise-img{
		transform: scale(1);
		transition: all .3s ease-in-out;
		display: block;
		margin:0 auto;
  }
	.cb-poise-row{
		margin: 0 auto;
    max-width: 100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
	}
  &:hover{
		img.cb-poise-img{
		  transition: all .3s ease-in-out;
			transform: scale(0.9);
			opacity:0.6;
			&:hover{
			opacity:1;  
			transform: scale(1.1);
			box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
			}
    }
  }
}
